<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
    <add name="PttBigdataEntities" connectionString="metadata=res://*/PttWebReposity.csdl|res://*/PttWebReposity.ssdl|res://*/PttWebReposity.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Character Set=utf8;server=192.168.1.102;user id=guest;password=alison138;database=ptt_bigdata&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>